# Neon PostgreSQL Connection
DATABASE_URL=postgresql://neondb_owner:npg_NDsAQ9l4zoCr@ep-shiny-snow-azndb8xp-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Session secret for JWT auth
SESSION_SECRET=A Crow is a really clever Bird
